<%- include("partials/header"); -%>
    <h1>LEGAL DECLARE</h1>
    <p> <%= aboutContent %> </p>
    <hr />
    <ul>
      <li>All the data are only for temporary, they will be deleted as soon as after grace period or be accessed.</li>
      <li>Please don't use this website for illegal purposes.</li>
      <li>Please be aware about your personal privacy.</li>
      <li>Because this website is public to everyone and no protection, don't record any sensitive data. </li>
      <li>We only provide this place for everyone's convenience. We don't involve or take any legal responsibility.</li>
      <li>Your data may be record on 3rd parties' computers but not on ours.</li>
      <li>We cannot help to restore the record if expired or deleted. Because we don't own any storage device.</li>
      <li>You may lose your temporary data because other technical issues.</li>
      <li>The source code of this website is open sourced, please contact us if necessary.</li>
    </ul>
<%- include("partials/footer"); -%>
